<header>
  <div class="container">
    <nav>
      <a href="">logo</a>
      <ul>
        <li>
          <a href="">item 1</a>
          <ul>
            <li><a href="">item 1</a></li>
            <li><a href="">item 2</a></li>
          </ul>
        </li>
        <li>
          <a href="">item 2</a>
          <ul>
            <li><a href="">item 1</a></li>
            <li><a href="">item 2</a></li>
          </ul>
        </li>
        <li>
          <a href="">item 3</a>
          <ul>
            <li><a href="">item 1</a></li>
            <li><a href="">item 2</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
